.icon_container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.icon {
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    width: 92px;
    height: 92px;
    border: 4px solid #fff;
}

.menu > ul{
    width: 250px;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 20px;
}

.menu > ul :hover {
    cursor: pointer;
    color: #b83232;
    transition: 0.5s;
}